.ing-item {
  padding: 10px;
  border-bottom: 1px solid #e2e2e1;
  border-radius: 5px;
}
.ingredients {
  border-top: 1px solid #e2e2e1;
  border-left: 1px solid #e2e2e1;
  border-right: 1px solid #e2e2e1;

  border-radius: 5px;
}
