.login-wrapper {
  height: 70vh;
  display: flex;
  align-items: center;
}

.login-card {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: rgb(114, 108, 213);
  background: linear-gradient(
    90deg,
    rgba(114, 108, 213, 1) 0%,
    rgba(72, 21, 182, 1) 39%,
    rgba(162, 0, 255, 1) 100%
  );
}
